.Login-container{
    background-color: rgba(0, 0, 0, 0.534);
    padding: 1rem;
    border-radius: .4rem;

    .Login-container__submit{
        background-color: #DC0611;
        color:#fff;
        &:hover{
            background-color: #740409;
            
        }
    }
    .Login-container__input{
        background-color: #fff;
        border-radius: .4rem;
        margin-bottom: 1rem;
      
    }
}