.movies-container{
    .movies-container__wallpaper{
        position: absolute;
        top: 0;
        width: 100vw;
        height: 90vh;
        z-index: -1;
        background-color: black;
    }
}

.mt-160{
    margin-top:70vh;
    max-width: 95vw;
}